<?xml version="1.0" encoding="UTF-8"?>
<cnfg>
	<vaultPath></vaultPath>
	<options>
		<option name="genPass" method="generateNewPW"/>
		<option name="vaultInit" method="createVaultTable"/>
		<option name="getVault" method="printVaultTable"/>
		<option name="updateVault" method="updateVaultTable"/>
		<option name="quit" method="quit"/>
	</options>
</cnfg>