<?xml version="1.0" encoding="UTF-8"?>
<cnfg>
	<vaultPath></vaultPath>
	<hashListSize>1000</hashListSize>
	<options>
		<option name="genPass" method="generateNewPW" desc="generate 64 char password"/>
		<option name="vaultInit" method="createVaultTable" desc="create new vault"/>
		<option name="getVault" method="printVaultTable" desc="read vault values"/>
		<option name="updateVault" method="updateVaultTable" desc="add vault value"/>
		<option name="quit" method="quit" desc="close session"/>
	</options>
</cnfg>